<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>B06EFA00-BD47-48B9-BF13-A73052018A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5105E9C1-C44E-4940-8313-915BA5E63BBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexander Heimbuch</string>
	<key>description</key>
	<string>German-English, English-German dictionary workflow for linguee.de</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Linguee.de</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>ling</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching ...</string>
				<key>script</key>
				<string>export LC_ALL=de_DE.UTF-8
/usr/local/bin/node main.js "translate" "$(iconv -f UTF8-MAC &lt;&lt;&lt;'{query}')"</string>
				<key>title</key>
				<string>Search linguee for "{query}"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B06EFA00-BD47-48B9-BF13-A73052018A79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5105E9C1-C44E-4940-8313-915BA5E63BBA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5105E9C1-C44E-4940-8313-915BA5E63BBA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B06EFA00-BD47-48B9-BF13-A73052018A79</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/zusatzstoff/alfred-linguee-workflow</string>
</dict>
</plist>
